/*
displays error state and message for a fieldset
@see https://medium.com/samsung-internet-dev/native-form-validation-part-1-bf8e35099f1d
*/
fieldset:invalid {
	border-color: red;
}

fieldset:invalid:before {
	content: attr(data-error-message);
}

/*
for required field, show invalid only when not focused
@see https://medium.com/samsung-internet-dev/native-form-validation-part-1-bf8e35099f1d
*/
input:invalid:not(:focus) {
	border-color: red;
}

/*
A11y
*/

/* to remind devs to set aria */
[aria-invalid="true"] {
	border-color: red;
}
